@import url('https://fonts.googleapis.com/css2?family=Elms+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Elms Sans", sans-serif;

}

#root {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./assets/images/bg/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;

}

.navbar-nav li a:hover {
    color: goldenrod !important;
}

.navbar-nav li::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: goldenrod;
    transition: width .3s linear;
    margin: auto;


}

.navbar-nav li:hover::after {
    width: 100%;
}

.navbar-transparent {
    background: transparent;
}

.navbar-colored {
    background-color: #6B705C !important;
}

.welcome-text {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;

}

.btn {
    border-radius: 25px !important;
}

.Contact-btn:hover {
    background-color: black !important;
    color: goldenrod !important;
    border: 1px solid goldenrod !important;
}

.banner {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./assets/images/bg/banner.jpg);
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.banner2 {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(./assets/images/bg/bg.jpg);
    background-size: cover;
    background-position: center;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.bg-color {
    background-color: #FFF8E7;
}

.Email:hover,
.Phone:hover {
    color: goldenrod !important;
}
.service-card {
    transition: transform 0.3s ease;
    transform-origin: center;
}

.service-card:hover {
    transform: scale(1.1);
}


/* ------------------------------------Footer CSS------------------------------------ */

.Footer {
    background: #6B705C;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.moot {
    font-family: "Great Vibes", cursive;
    font-style: normal;
    font-size: 24px;
    margin-top: 10px;
    background: linear-gradient(90deg, #ff0080, #ff8c00, #40e0d0);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}
.bi-whatsapp:hover {
    color: #25D366 !important;
}
.bi-instagram:hover {
    color: #C13584 !important;
}
.bi-facebook:hover {
    color: #3b5998 !important;
}
.follow-link a:hover {
    transform: scale(1.2);
    transition: transform 0.3s ease;
}
.footer ul {
    
    text-decoration: none !important;
}


/* ------------------------------------------------------- Responsive CSS ------------------------------------------------------- */

@media (max-width: 768px) {
    .welcome-text h1 {
        font-size: 2rem;
        text-align: center;
    }

    .welcome-text p {
        font-size: 1rem;
        text-align: center;
    }

    .follow-link {
        justify-content: center;
    }

    .footer ul {
        padding: 0;
        list-style: none;
        text-align: left;
        display: grid;
        gap: 10px;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    }

    .footer-social,
    .footer-contact,
    .footer-links {
        text-align: left;

    }

    .address {
        width: 70% !important;
        margin: auto !important;
    }

    .follow-link {
        justify-content: left !important;
    }

    .img-fluid {
        width: 100% !important;
        height: auto !important;
    }

    .navbar-nav li:hover::after {
        width: 0;
    }

    .banner {
        height: 30vh;

    }

    .haveany h1,
    .haveany p {
        margin-bottom: 20px !important;
        margin-left: 0 !important;
    }
}
@media (min-width:426px) and (max-width: 768px) {
    .haveany h1,
    .haveany p {
        margin-left: 2rem !important;
    }
}
@media (min-width: 760px) and (max-width: 780px) {
    .email {
        font-size: 14px !important;
    }
}